.dvt
.vscode

hw/fpga/.qsys_edit
hw/fpga/db
hw/fpga/de0_nano_soc
hw/fpga/incremental_db
hw/fpga/hps_isw_handoff
hw/fpga/output_files
hw/fpga/simulation
hw/fpga/*.bak
hw/fpga/*.BAK*
hw/fpga/*.csv
hw/fpga/*.json
hw/fpga/*.qws
hw/fpga/*.rbf
hw/fpga/*.rpt
hw/fpga/*.qdf
hw/fpga/*.sopcinfo
hw/fpga/*.tcl~
hw/fpga/*.txt

hw/sim/**/.__testsuite.sv
hw/sim/**/.svunit.f
hw/sim/**/.testrunner.sv
hw/sim/**/tests.xml
hw/sim/**/transcript
hw/sim/**/work
hw/sim/**/vsim.wlf

sw/build
sw/downloads
sw/sstate_cache

*.log

latex/*.aux
latex/*.bbl
latex/*.blg
latex/*.fdb_latexmk
latex/*.fls
latex/*.out
latex/*.synctex.gz
latex/*.log
latex/*.toc
latex/*.run.xml
latex/*.ps
latex/*~

